@media screen and (max-width: 600px) {
  .first-body {
    display: block !important;
    height: 85vh;
  }
  .firstbodyleft {
    margin-left: 10px !important;
    width: 100%;
    color: white;
  }
  .firstBodyTitle {
    text-align: center;
  }
  .firstBodyImg {
    position: absolute;
  }
  .logo-body {
    display: flex;
    margin-left: 120px;
  }
  .logo-header {
    display: flex;
    color: white;
    padding-left: 30px;
    padding-top: 10px;
    width: 60%;
    cursor: pointer;
  }
  .dropdown {
    display: block;
    margin-left: 90px;
  }
  .dropdown-toggle {
    font-size: 2rem;
    color: var(--button-background);
  }
  .dropdown-menu {
    background-color: var(--button-background);
    color: black;
  }
  .menu-header {
    display: none;
  }
  .firstbodyleft {
    padding-left: 10px;
    color: white;
    position: absolute;
  }
  .bodyHr {
    margin-right: 120px;
    margin-left: 120px;
    opacity: 1;
    border-radius: 10px;
  }
  .bodyHres,
  .bodyHrs,
  .fifthbodyHr,
  .sixthbodyHr {
    margin-right: 120px;
    margin-left: 120px;
    opacity: 20;
    border-radius: 5px;
    color: var(--button-background);
  }
  .bodyHres{
    margin-right: 130px;
    margin-left: 130px;
  }
  .fifthbodyHr {
    margin-right: 150px;
    margin-left: 150px;
  }
  .seventhbodyHr {
    margin-right: 120px;
    margin-left: 120px;
    opacity: 20;
    border-radius: 5px;
    color: var(--button-background);
  }
  .sixthbodyHr {
    margin-right: 130px;
    margin-left: 130px;
  }
  .logoax {
    font-size: 30px;
    font-weight: 700;
    color: white;
  }
  .logoaxs,
  .logo-color {
    font-size: 20px;
  }
  .logo-colors {
    font-size: 30px;
    font-weight: 200;
    color: var(--button-background);
  }
  .firstbody-content {
    font-size: 15px;
    font-family: var(--font-Raleway);
  }
  .modal-trial {
    background-color: white;
    width: 200px;
    top: 190px;
    right: -95px;
    border-radius: 5px;
    position: absolute;
  }
  .modal-body {
    padding: 5px;
    padding-left: 30px;
  }
  #usernames,
  #email,
  #password {
    margin-bottom: 5px;
    outline: none;
    width: 170px;
    font-size: 8px;
    margin-left: -20px;
  }
  .modal-title {
    color: rgb(95, 95, 95);
    font-family: var(--font-OpenSans);
    font-size: 10px;
    margin-left: -40px;
  }
  #startBtn {
    border: none;
    background-color: var(--button-background);
    color: white;
    font-family: var(--font-OpenSans);
    font-size: 10px;
    margin-top: 10px;
    padding: 5px;
  }
  .texts {
    color: var(--text-color);
    font-family: var(--font-Raleway);
    font-size: 8px;
    font-style: normal;
    font-display: swap;
  }
  .downBtn {
    font-family: var(--font-OpenSans);
    font-style: normal;
    font-display: swap;
    background-color: transparent;
    color: white;
    padding: 5px 15px 5px 15px;
    border-color: white;
    border-style: solid;
    font-size: 10px;
  }
  .downloadBtn {
    border: none;
    margin-top: 30px;
    background-color: var(--button-background);
    color: white;
    border-radius: 5px;
    width: 70px;
    font-family: var(--font-OpenSans);
    font-style: normal;
    font-display: swap;
    font-size: 10px;
  }
  .tabBtn {
    height: 50px;
    width: 100px;
    border: white;
    background-color: rgb(51, 51, 51);
    color: white;
    margin-bottom: 1px;
    font-family: var(--font-OpenSans);
    font-size: 10px;
    font-style: normal;
    font-display: swap;
  }
  .menu-body {
    display: flex;
    flex-direction: row;
    padding: 50px;
    justify-content: center;
    width: 100%;
  }
  .second-body {
    background-color: var(--primary-background-color);
    display: block;
    height: 100%;
    padding-top: 10px;
    padding-left: 2px;
  }
  .title {
    font-family: var(--font-OpenSans);
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    font-size: 12px;
  }
  #collapseWidthExample {
    width: 300px;
    padding: 0px 0px 0px 30px;
    text-align: center;
  }
  .text {
    color: var(--text-color);
    font-family: var(--font-OpenSans);
    font-size: 8px;
  }
  .secondBodyImg {
    width: 170px;
    height: 150px;
    margin-left: 90px;
  }
  .third-body {
    padding: 70px 0px 70px 0px;
    display: block;
  }
  .cityImg {
    width: 250px;
    height: 150px;
    margin-left: 40px;
    border-radius: 10px;
  }
  .thirdBodyRight {
    text-align: center;
    margin-left: 20px;
  }
  .navlink {
    font-size: 10px;
  }
  .thirdBodyIcon {
    position: relative;
  }
  .circleIconDown {
    margin-top: 10px;
    font-size: 1.5rem !important;
  }
  .bi-cloud-arrow-down-fill {
    font-size: 1rem !important;
    position: absolute;
    top: 5px;
    left: -4px;
  }
  .fourth-body {
    background-color: var(--primary-background-color);
    height: 65vh;
    display: block;
  }
  .fourthBodyLeft {
    padding: 10px;
    padding-right: 40px;
    width: 100%;
    text-align: center;
  }
  .fourthBodyRight {
    padding: 10px;
  }
  .fifth-body {
    height: 100%;
    padding: 0px;
    margin-right: 10px;
  }

  .fifthBodyOption {
    display: block;
  }
  .Option {
    width: 100%;
    text-align: center;
    position: relative;
  }
  .circleIcon {
    position: absolute;
    top: -11px;
    left: 83px;
    font-size: 2.5rem !important;
  }
  .bi-lightbulb,
  .bi-keyboard,
  .bi-lightning-fill {
    font-size: 1.5rem !important;
  }
  .sixthBodyImg {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .sixthBodyContent {
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 40px;
    padding-left: 10px;
  }
  .fifthBodyTitle,
  .seventhBodyTitle {
    font-size: 17px;
  }
  .sixthBodyTitle {
    font-size: 17px;
    font-family: var(--font-Raleway);
  }
  .seventhBodyForm {
    display: block;
  }
  .seventhBodyContent {
    width: 100%;
    text-align: center;
    padding: 20px 50px 20px 20px;
  }
  .sevenBodyForm {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-left: 40px;
  }
  .contact-input {
    margin-bottom: 32px;
    outline: none;
    width: 260px;
    font-size: 10px;
  }
  .textarea {
    width: 270px;
    padding-bottom: 120px;
    outline: none;
    margin-left: 40px;
    font-size: 10px;
  }
  .footer-container {
    height: 50px;
  }
  .iconfooter {
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 1rem !important;
  }
 
