@import "root.css";
.header-container {
  background: black;
  display: flex;
}
.logo-header {
  display: flex;
  padding: 5px;
  color: white;
  padding-left: 150px;
  width: 60%;
  cursor: pointer;
}
.logo-color {
  color: var(--button-background);
  font-weight: 200;
}
.dropdown {
  display: none;
}
.menu-header {
  display: flex;
  color: white;
  align-items: center;
}
.nav-link, #startBtn, .downloadBtn, .downBtn {
  font-family: var(--font-OpenSans);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.modal-title, .tabBtn, .title {
  font-family: var(--font-OpenSans);
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.downBtn {
  background-color: transparent;
  color: white;
  padding: 15px 25px 15px 25px;
  border-color: white;
  border-style: solid;
  width: 170px;
  font-size: 20px;
}
.downBtn:hover {
  background-color: white;
  color: black;
  opacity: 0.8;
  outline: none;
}
.downBtn, #startBtn, .tabBtn, .downloadBtn {
  transition: all 0.2s linear;
}
.nav-link {
  padding-right: 40px;
}
.nav-link:hover {
  color: rgb(254, 152, 85);
}
.first-body,.firstBodyImg,.second-body,.third-body,.fifth-body,.sixth-body {
  height: 100%;
}
.first-body {
  background-color: black;
  display: flex;
  position: relative;
}
.firstBodyImg {
  width: 100%;
}
.logo-body {
  display: flex;
  margin-bottom: 10px;
}
.firstbodyleft {
  padding: 90px;
  padding-left: 140px;
  width: 50%;
  color: white;
  position: absolute;
}
.logoax {
  font-size: 80px;
  font-weight: 700;
  color: white;
}
.logo-colors {
  font-size: 80px;
  font-weight: 200;
  color: var(--button-background);
}
.bodyHr {
  margin-right: 500px;
  opacity: 1;
  border-radius: 10px;
  margin-bottom: 40px;
}
.firstText{
  margin-bottom: 60px;
}
.modal-title {
  color: rgb(95, 95, 95);
  padding: 10px;
  padding-left: 50px;
}
.title-color {
  color: var(--button-background);
}
.firstbodyright {
  top: 150px;
  right: 180px;
  position: absolute;
}
.modal-trial {
  background-color: white;
  width: 400px;
  border-radius: 5px;
}
.modal-header {
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
}
.modal-body {
  padding: 30px;
  padding-left: 40px;
}
#usernames, #email, #password {
  margin-bottom: 70px;
  outline: none;
  width: 300px;
}
#usernames, #email, #password, .textarea, .contact-input {
  border-top: 1px;
  border-left: 1px;
  border-right: 1px;
}
#startBtn {
  width: 100%;
  border: none;
  padding: 15px;
  background-color: var(--button-background);
  color: white;
  font-size: 20px;
}
#startBtn:hover {
  background-color: rgb(189, 103, 41);
}
.second-body {
  background-color: var(--primary-background-color);
  display: flex;
  padding-left: 30px;
}
.menu-body {
  display: flex;
  flex-direction: column;
  padding: 120px 0px 0px 100px;
  width: 200px;
  margin-right: 50px;
}
.mainSecondBody {
  width: 300px;
  margin-right: 200px;
}
.tabBtn {
  height: 150px;
  border: white;
  background-color: rgb(51, 51, 51);
  color: white;
  margin-bottom: 1px;
}
.tabBtn:hover {
  background-color: rgb(255, 139, 56);
}
#collapseWidthExample {
  width: 700px;
  padding: 120px;
  padding-left: 30px;
}
.downloadBtn {
  border: none;
  padding: 10px;
  margin-top: 50px;
  background-color: var(--button-background);
  color: white;
  border-radius: 5px;
  width: 150px;
  height: 60px;
}
.downloadBtn:hover {
  background-color: rgb(189, 103, 41);
}
.secondBodyImg {
  margin: 100px;
  width: 500px;
  height: 350px;
  margin-left: 150px;
  margin-top: 200px;
}
.third-body {
  padding: 70px 0px 70px 0px;
  display: flex;
}
.thirdBodyLeft {
  width: 100%;
}
.cityImg {
  margin-left: 80px;
  border-radius: 10px;
}
.thirdBodyRight {
  width: 80%;
  margin-right: 100px;
}
.bodyHrs {
  margin-right: 600px;
  opacity: 20;
  border-radius: 5px;
  color: var(--button-background);
}
.text {
  color: var(--text-color);
  font-family: var(--font-OpenSans);
  font-size: 15px;
}
.spaceText{
  margin-top: 50px;
  margin-bottom: 40px;
}
.texts {
  color: var(--text-color);
  font-family: var(--font-Raleway);
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
.title {
  font-size: 25px;
}
.thirdBodycontent {
  display: flex;
  margin-bottom: 20px;
}
.thirdBodyIcon {
  margin-right: 30px;
  position: relative;
}
.fourth-body {
  background-color: var(--primary-background-color);
  height: 100%;
  display: flex;
}
.fourthBodyLeft {
  padding: 120px;
  width: 50%;
}
.bodyHres {
  margin-right: 420px;
  opacity: 20;
  border-radius: 5px;
  color: var(--button-background);
}
.fourthBodyRight {
  padding: 100px;
}
.fifth-body {
  padding: 0px 40px 100px 40px;
}
.fifthBody {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 50px;
}
.fifthBodyTitle, .sixthBodyTitle, .firstbody-content, .seventhBodyTitle {
  font-size: 40px;
  font-family: var(--font-Raleway);
}
.firstbody-content {
  font-size: 30px;
  margin-bottom: 40px;
}
.sixthBodyTitle {
  color: white;
}
.fifthbodyHr {
  margin-left: 720px;
  margin-right: 720px;
  opacity: 20;
  border-radius: 5px;
  color: var(--button-background);
}
.fifthBodyOption {
  display: flex;
  margin: 0px 70px 0px 70px;
}
.Option {
  width: 33%;
  text-align: center;
  padding-right: 5px;
  position: relative;
}
.circleIcon {
  position: absolute;
  top: -25px;
  left: 190px;
}
.circleIconDown {
  position: absolute;
  top: -12px;
  left: -8px;
}
.sixth-body {
  background-color: black;
  background-repeat: no-repeat;
  display: flex;
  margin: var(--primary-margin);
}
.sixthBodyImg {
  width: 100%;
}
.sixthBodyContent {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 70px;
}
.sixbodyText {
  margin-bottom: 40px;
}
.sixthbodyHr {
  margin-right: 690px;
  margin-left: 690px;
  opacity: 1;
  border-radius: 10px;
  margin-bottom: 20px;
}
.btn-outline-warning {
  width: 130px;
}
.seventh-body {
  height: 100%;
  margin-bottom: 40px;
}
.seventhBodyForm {
  display: flex;
}
.seventhBodyTitle {
  color: black;
}
.seventhBodyContent {
  width: 100%;
  text-align: center;
  padding: 70px;
}
.seventhbodyHr {
  margin-left: 690px;
  margin-right: 690px;
  opacity: 20;
  border-radius: 5px;
  color: var(--button-background);
}
.sevenBodyForm {
  display: flex;
  flex-direction: column;
  padding-left: 250px;
}
.contact-input {
  margin-bottom: 32px;
  outline: none;
  width: 500px;
}
.textarea {
  width: 500px;
  padding-bottom: 120px;
  outline: none;
  margin-left: 80px;
}
.sendBtn {
  margin: var(--primary-margin);
  text-align: center;
}
.footer-container {
  background: black;
  height: 80px;
  margin: var(--primary-margin);
  color: white;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
}
.iconfooter {
  margin-right: 30px;
  margin-bottom: 5px;
}
.error{
  color: red;
  font-style: italic;
}
